#head {
    background-color: aqua;
}

#center-ageText{
   
}

#denialInfo{
    width: 110px;
    color: red;
    display: none;
    
}

#web-contents {
    display: none;
}

#age-container{
    width: 100px;
    margin: auto;
    display: block;
}