.div-1 {
    color: red;
    border-style: solid;
}

.div-2 {
    color: aqua;
    border-style: dotted;
}

#productName {
    color: green;
}

h1 {
    color: purple;
}

.shopping-cart-container {
    display: flex;
}

.user-input {
    width: 200px; 
    height: 200px; 
    flex: 1;
}

.shopping-cart {
    flex: 1;
}

.web-contents {
    display: none;
}

.products {
    flex: 1;
}

.product-item {
    width: 100px;
    border-style: solid;
    cursor: pointer;
}
